.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
  justify-items: center;
}

.image {
  width: 100%;
  aspect-ratio: 4 / 3; /* забезпечує однакову висоту */
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.03);
}

li {
  list-style: none;
}
